body{
   background-color: rgb(2, 1, 1);
}

.container {
   width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}

.title {
   margin-top: 30;
   margin-bottom: 30px;
   font-size: 60px;
   text-align: center;
   color: aqua;
}

.select {
   display: block;
   width: 200px;
   margin: 0 auto;
   margin-bottom: 50px;
   padding: 10px;
}

.list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style: none;
}

.item{
   width: 300px;
   margin-bottom: 40px;
   padding: 15px;
   background-color: rgb(115, 65, 65);
   border: 3px solid rgb(208, 197, 110);
   border-radius: 20px;
}

.item strong{
   margin-bottom: 15px;
}